.footer
{
	padding: 0;
	margin: 0;
	text-align: center;
	color: #777;
	font-size: 14px;
}

.footer__disclaimer
{
	padding: 0;
	margin: 0;
}

.footer__link
{
	display: inline-block;
	color: #171a1d;
	text-decoration: underline;

	&:hover,
	&:focus
	{
		text-decoration: none;
	}
}
