.games
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	flex: 1 1 auto;
}

.games__icons
{
	position: fixed;
	top: -9999px;
	left: -9999px;
	width: 0;
	height: 0;
}

.games__summary
{
	padding: 0;
	margin: 10px 10px 0;
	font-size: 14px;
	color: #777;
}

.games__game-count,
.games__expansion-count
{
	color: #171a1d;
	font-weight: bold;
}

.games__collection
{
	list-style: none;
	display: flex;
	flex-flow: column nowrap;
	padding: 10px;
	margin: 0;
	row-gap: 10px;
	flex: 1 1 auto;
}

.games__item
{
	display: block;
}

.games__no-matching-games
{
	display: none;
	padding: 10px;
	text-align: center;
	color: #777;
	font-size: 15px;
}
